@import "~sass-bem-utils/dist/sass-bem-utils";
@import "./variables";

/** Reset last child bottom margin */
@mixin reset-last-indent {
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

@mixin reset-left-indent {
  > *:first-child {
    margin-left: 0 !important;
  }
}

@mixin reset-right-indent {
  > *:last-child {
    margin-right: 0 !important;
  }
}

/** Reset list */
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    padding-left: 0;
  }
}
